.actorCard {
  width: 100%;
  border-radius: 8px;
  background-color: #f0f0f0; /* Change the background color as per your design */
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 20px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.imageContainer img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.listStyle {
  list-style: none;
  margin: 1vw;
  padding: 0;
}

.listStyle div {
  margin-bottom: 20px;
}

.listStyle h1 {
  font-size: 2.6vw;
  margin: 0;
}

.listStyle p {
  font-size: 1vw;
  margin: 0;
}

.listStyle span {
  font-weight: bold;
}

.horizontalLine {
  width: 100%;
  margin-top: 16px;
  border: 1px dotted lightgray;
}

.bio {
  overflow-wrap: break-word;
}

.readMore {
  color: blue;
  cursor: pointer;
}

.dropdownContainer {
  width: 100px;
  position: relative;
  display: inline-block;
  user-select: none;
}

.selectedOption {
  width: 100%;
  padding: 8px;
  appearance: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.dropdownList {
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-bottom: none;
  border-radius: 4px 4px 0 0;
  background-color: white;
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdownList li {
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

.dropdownList li:last-child {
  border-bottom: none;
}
